@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb))
}

body,
html {
  overflow-x: hidden;
}

.custom-container {
  max-width: 90%;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .custom-container {
    max-width: 650px;
  }
}

@media screen and (min-width: 1024px) {
  .custom-container {
    max-width: 950px;
  }
}

@media screen and (min-width: 1440px) {
  .custom-container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1960px) {
  .custom-container {
    max-width: 1440px;
  }
}